@CHARSET "UTF-8";
/*레이아웃*/
body{
	font-size:10pt;
	font-family:"맑은 고딕";
}
div#main{
	width:960px;
	margin:0 auto;
}
div#main_header{
	margin-bottom:10px;
	padding:0 10px 0 0;
}
div#main_menu{
	float:left;
	width:17%;
	min-height:400px;
}
div#main_body{
	float:left;
	width:78%;
	padding:5px;
}
div#main_footer{
	clear:both;
	width:100%;
	text-align:center;
	background-color:yellow;
}
ul.menu{
	list-style:none;
}
ul.menu li{
	margin-bottom:5px;
}
a{
	text-decoration:none;
	color:#3f3f3f;
}
a:hover{
	text-decoration:none;
	color:#0c8f84;
	font-weight:bold;
}
div.page-main-style{
	width:98%;
	margin:0 auto;
}
div.page-error-style{
	width:50%;
	margin:0 auto;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*회원관리*/
form ul{
	list-style:none;
	padding:0;
	margin:2px;
}
form ul li{
	margin:0 0 9px 0;
	padding:0;
}
form input[type="text"],form input[type="password"],form textarea{
	width:350px;
}
form#register_form input#id{
	width:150px;
}
#register_form label, #modify_form label, #delete_form label,#login_form label{
	font-size:11pt;
	font-family:"맑은 고딕";
	width:140px;
	float:left;
}
.error-color{
	color:red;
}
/*게시판*/
ul.search{
	width:300px;
	list-style:none;
	padding:0;
	margin:10px auto;
}
ul.search li{
	display:inline;
}
ul.search li input[type="text"]{
	width:100px;
}
table{
	width:98%;
	margin:0 auto;
	border:1px solid #000;
	border-collapse:collapse;
}
td,th{
	border:1px solid #000;
	padding:2px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
form#re_form{
	width:650px;
	margin:0 auto;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
span.form-id{
	padding-lef:93px;
	color:#000;
}
textarea.rep-content{
	width:97%;
	height:50px;
	margin:10px 10px;
}
div#re_first{
	float:left;
	width:79%;
	margin-bottom:10px;
}
div#re_second{
	float:left;
	width:20%;
	margin-bottom:10px;
}
div#loading{
	width:100px;
	margin:0 auto;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	margin:5px;
}









